/* Body */
body {
  margin: 0;
}

/* Header*/
.navBar {
  background-color: red;
}

.navUl {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  list-style-type: none;
  padding-inline-start: 0;
  margin-top: 0;
}

/* Main */
.main {
  min-height: 100vh;
}

.blue {
  color: blue
}

.green {
  color: green;
}

.name {
  color: red;
  font-weight: bold;
}


/* Footer */
.githubIkon {
  height: 35px;
  width: 35px;
}